<div id="main" class="col-sm-9">
	<div class="recent-movie-box">
		
	</div><!-- /.recent-movie-box -->

	<div class="recent-news-box">
		
	</div><!-- /.recent-news-box -->
</div><!-- /#main -->

<div id="side" class="col-sm-3">
	<div class="search-box">
		
	</div><!-- /.search-box -->

	<div class="pop-movie-box">
		
	</div><!-- /.pop-movie-box -->

	<div class="pop-news-box">
		
	</div><!-- /.pop-news-box -->
</div><!-- /#side -->
