# Ignore un-needed files.
doc/
*.swp
*~
.DS_Store
.idea

# Template .gitignore file for Rails from github
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
/config/database.yml
/config/secrets.yml
/node_modules
/yarn-error.log
.byebug_history